body {
    background: salmon;
}

header {
    background-color: aquamarine;
    z-index: 1;
}

h1 {
    text-align: center;
}

li {
    display: inline;
    float: right;
    padding: 10px;
}

img {
    padding: 0, auto;
}